# ============================================
# SERVIDOR
PORT=3000

# ============================================
# BASE DE DATOS
# Formato: postgresql://usuario:contraseña@host:puerto/nombre_db
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/inface_bd"

# ============================================
# JWT - Autenticación
JWT_ACCESS_SECRET="access_secret_aqui"
JWT_REFRESH_SECRET="refresh_secret_aqui"