# ============================================
# Base de datos (usadas por el contenedor "database" y por el backend
# para armar la DATABASE_URL de Prisma)
DB_USERNAME=postgres
DB_PASSWORD=postgres123
DATABASE=inface_db
PORT=80

# ============================================
# JWT - Autenticación (usa strings largos y random, distintos entre sí)
JWT_ACCESS_SECRET= pdqRpe5UX8MC8U28bd2eZigzUAxB65ZtqTTitzjd5hjVQXcUnS8RxcTYA6qmTMVHdVBnkJPVbuMa3rn21wbF26nbqmH6Ym4Gb0S7SCREnaWgDjYHkQe3KEizz1Y1SB9aCVC67pEa6qxxRPiJraWdVwi1RYrvNmDHnJgYAZUDVFdJwmcHeRS7HyX3H9QtBpMigfZzPy7qM78YUJztbWEcmgehUCNLi9uY1u8t6XXw6EhcJGZV7FLdPFB3PJyfZQXCLAgF1eNH9bJuC5XJDZ6GSA1anXqcQAATVxX7fJ64W2zd
JWT_REFRESH_SECRET= CTAJxAUQHSbadCW8bM3YvqLFAD9dHvjutRZx4ggp2A5UX1i45TbMwRAtMbydBrumYXaBR3zPnD27mrAmbSv6hb9b9S9JQjnCBf2d2bj08JXtucZAcSiBZJ5MnXbMPXGG9reGhgw9GU7U2ZMfGhSURdWHJ6Ha2QuNZtzZgV3qtN3Qf8ijQL88TQgRjM4UtC3Lkm6EZM5w8ZyVJjUy46A3a2Zbcdp12GqenLn0eqKrGJtUtEWEJZz1XMEHiYG4q13qpAN2ib5K8eB2hfwhd6bNz502eL7VyTLcKF160CMyCNLH

